
@mixin reset-pm {
    padding: 0;
    margin: 0;
}

$font-pila: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$primary-color: #10a7ea;
$secondary-color: #273746;
$color-gray: #f9f9f9;
